SUPABASE_URL=https://vqcevqxpocbmrhjognfn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZxY2V2cXhwb2NibXJoam9nbmZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MTM0ODMsImV4cCI6MjEwMjA4OTQ4M30.ExdZ1Y3hlJvOfAAR_2l_GkCFE6f81kM4ebFsf67GJCQ